.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log

.classpath
.project
.settings/
target/
out/
output/

.idea/
*.iml
/codi-api/*.iml
/*.iml
/codi-api/*.tomcatplugin
/codi-api/codi-api.iml
/codi-bus-base/codi-bus-base.iml
/codi-bus-core/codi-bus-core.iml
/codi-fund-data/codi-fund-data.iml
/codi-hundsunapi/codi-hundsunapi.iml
/codi-message/codi-message.iml
/codi-trade-service/codi-trade-service.iml
/codi-fund.iml
